<li class="collection-item avatar">
  <img src="" alt="" class="circle">
  <span class="title">Title</span>
  <p class="gender">First Line</p>
  <p class="totalInteractions">Second Line</p>

  <ul class="collapsible" data-collapsible="accordion">

    <li>
      <div class="collapsible-header"><i class="material-icons">account_circle</i>Informações do Usuário</div>
      <div class="collapsible-body">
          <ul>
            <li>
              <i class="material-icons">place</i>
              <span class="address">Lorem ipsum dolor sit amet.</span>
            </li>
            <li>
              <i class="material-icons">email</i>
              <span class="email">Lorem ipsum dolor sit amet.</span>
            </li>
            <li>
              <i class="material-icons">smartphone</i>
              <span class="cell">Lorem ipsum dolor sit amet.</span>
            </li>
            <li>
              <i class="material-icons">local_phone</i>
              <span class="phone">Lorem ipsum dolor sit amet.</span>
            </li>
            <li>
              <i class="material-icons">map</i>
              <span class="nat">Lorem ipsum dolor sit amet.</span>
            </li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">touch_app</i>Interações</div>
      <div class="collapsible-body" id="interactions">
        <table class="striped interactions mdl-data-table" cellspacing="0">
            <thead>
              <tr>
                  <th>Tipo de Interação</th>
                  <th>Marca</th>
                  <th>Logo</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
      </div>
    </li>
  </ul>

</li>
